<div mat-card>
    <div class="table-container">
        <div class="row">
            <div>Name:</div>
            <div> {{patient.name}}</div>
        </div>
        <div class="row">
            <div>Email:</div>
            <div> {{patient.email}}</div>
        </div>
        <div class="row">
            <div>Age:</div>
            <div> {{patient.age}}</div>
        </div>
        <div class="row">
            <div>Gender:</div>
            <div> {{patient.gender}}</div>
        </div>
    </div>
</div>